/* line 7, ../../app/styles/_normalize.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 11, ../../app/styles/_normalize.sass */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 17, ../../app/styles/_normalize.sass */
audio:not([controls]) {
  display: none;
}

/* line 22, ../../app/styles/_normalize.sass */
[hidden] {
  display: none;
}

/* line 28, ../../app/styles/_normalize.sass */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 42, ../../app/styles/_normalize.sass */
body {
  margin: 0;
}

/* line 46, ../../app/styles/_normalize.sass */
body, button, input, select, textarea {
  font-family: sans-serif;
}

/* line 54, ../../app/styles/_normalize.sass */
a:focus {
  outline: thin dotted;
}
/* line 59, ../../app/styles/_normalize.sass */
a:hover, a:active {
  outline: 0;
}

/* line 66, ../../app/styles/_normalize.sass */
h1 {
  font-size: 2em;
}

/* line 70, ../../app/styles/_normalize.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 74, ../../app/styles/_normalize.sass */
b, strong {
  font-weight: bold;
}

/* line 77, ../../app/styles/_normalize.sass */
blockquote {
  margin: 1em 40px;
}

/* line 81, ../../app/styles/_normalize.sass */
dfn {
  font-style: italic;
}

/* line 85, ../../app/styles/_normalize.sass */
mark {
  background: yellow;
  color: black;
}

/* line 91, ../../app/styles/_normalize.sass */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "Courier New", monospace;
  font-size: 1em;
}

/* line 97, ../../app/styles/_normalize.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 102, ../../app/styles/_normalize.sass */
q {
  quotes: none;
}
/* line 107, ../../app/styles/_normalize.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 111, ../../app/styles/_normalize.sass */
small {
  font-size: 75%;
}

/* line 116, ../../app/styles/_normalize.sass */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 122, ../../app/styles/_normalize.sass */
sup {
  top: -0.5em;
}

/* line 125, ../../app/styles/_normalize.sass */
sub {
  bottom: -0.25em;
}

/* line 131, ../../app/styles/_normalize.sass */
ul, ol {
  margin-left: 0;
  padding: 0 0 0 40px;
}

/* line 135, ../../app/styles/_normalize.sass */
dd {
  margin: 0 0 0 40px;
}

/* line 139, ../../app/styles/_normalize.sass */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 146, ../../app/styles/_normalize.sass */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 155, ../../app/styles/_normalize.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 162, ../../app/styles/_normalize.sass */
figure {
  margin: 0;
}

/* line 169, ../../app/styles/_normalize.sass */
form {
  margin: 0;
}

/* line 173, ../../app/styles/_normalize.sass */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 178, ../../app/styles/_normalize.sass */
legend {
  border: 0;
  *margin-left: -7px;
}

/* line 185, ../../app/styles/_normalize.sass */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 197, ../../app/styles/_normalize.sass */
button, input {
  line-height: normal;
}

/* line 200, ../../app/styles/_normalize.sass */
button, input[type='button'], input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 212, ../../app/styles/_normalize.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
/* line 219, ../../app/styles/_normalize.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 229, ../../app/styles/_normalize.sass */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 234, ../../app/styles/_normalize.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 238, ../../app/styles/_normalize.sass */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 249, ../../app/styles/_normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
